<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.IYA.btinsley.RoloMVP</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rolo</string>
			</array>
		</dict>
	</array>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpzcGh3aWp6Z2Jhenp1eGNzZ3RjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk5Nzg0MzEsImV4cCI6MjA3NTU1NDQzMX0.RuX2_4YEV1EyozK5SAsaQQldbizVH3tFy3sK-Rcwt6Y</string>
	<key>SUPABASE_URL</key>
	<string>https://jsphwijzgbazzuxcsgtc.supabase.co</string>
</dict>
</plist>
